<div class="container mt-5">
  <h2>Lista de Productos</h2>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td><img [src]="product.image" alt="{{product.nombre}}" class="img-fluid" width="100"></td>
        <td>{{ product.nombre }}</td>
        <td>{{ product.precio }}</td>
        <td>{{ product.stock }}</td>
      </tr>
    </tbody>
  </table>
</div>
